# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo

# IDE - VSCode
.vscode/

# Environment
.env
.env.local
.env.*.local

# SQLite
prisma/dev.db

# pnpm
pnpm-workspace.yaml

# Docker
docker-compose.override.yml
